<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/portal.css' %}"/>


</head>
<body class="app app-signup p-0">


<div class="row g-0 app-auth-wrapper">
    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
        <div class="d-flex flex-column align-content-end">

            <div class="app-auth-body mx-auto">

                <h2 class="auth-heading text-center mb-4">Sign up to Our Funding App</h2>

                <div class="auth-form-container text-start mx-auto" style="position:relative; z-index: 10;">


                    <form class="auth-form auth-signup-form" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form.as_p }}

                        {{ form2.as_p }}

                        <div class="text-center">
                            <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Sign Up
                            </button>
                        </div>
                        {#                            <div class="auth-option text-center pt-5">Already have an account? <a class="text-link"#}
                        {#                                                                                                  href="{%  url ' login' %}">Log#}
                        {#                                in</a></div>#}
                    </form><!--//auth-form-->
                    <div class="auth-option text-center pt-5" >Already have an account? <a class="text-link"
                                                                                          href="{% url 'login' %}">Log
                        In</a>.


                    </div>

                </div><!--//auth-form-container-->


            </div><!--//auth-body-->

            <footer class="app-auth-footer" style="z-index: 0;">
                <div class="container text-center py-0">
                    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                    <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a
                            class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a>
                        for developers</small>

                </div>
            </footer><!--//app-auth-footer-->
        </div><!--//flex-column-->
    </div><!--//auth-main-col-->
    <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
        <div class="auth-background-holder">
            <img src="{% static 'images/background-2.jpg' %}" style="height: 100%; width:100%;"/>
        </div>
        <div class="auth-background-mask"></div>
        <div class="auth-background-overlay p-3 p-lg-5">
            <div class="d-flex flex-column align-content-end h-100">
                <div class="h-100"></div>

            </div>
        </div><!--//auth-background-overlay-->
    </div><!--//auth-background-col-->

</div><!--//row-->

</body>
</html>


{#<DOCTYPE html>#}
{#<html>#}
{#    {% load static %}#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>Register Page</title>#}
{#        <link rel="stylesheet" href="{% static 'css/register.css' %}" >#}
{#    </head>#}
{#    <body>#}
{#        <div class="container">#}
{#            <h1>Register</h1>#}
{#            <form method="POST" action="" enctype="multipart/form-data">#}
{#                {{ form.as_p }}#}
{#                {{form2.as_p}}#}
{#                {% csrf_token %}#}
{#                <input type="submit" name="submit" value="submit">#}
{#            </form>#}
{#            <a href="{%url 'login'%}">Already Have Account</a>#}
{#        </div>#}
{#    </body>#}
{#</html>#}
{##}
