.main{
    width:100%
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
    
body { margin: 0; } 
div#slider { overflow: hidden; margin-bottom:50px}
div#slider figure .main { width: 20%; float: left; }
div#slider figure {
    position:relative;
    width:500%;
    margin:0;
    left:0;
    text-align:left;
    animation:30s slidy infinite;
    -webkit-animation:30s slidy infinite;
}
.top{
    height:565px;
    padding-top:12%;
    padding-left:17%;
}
.top h2{
    color:#41aaa8;
    font-size:80px;
    margin-bottom:25px
}
.top a{
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-left:30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration:none;
    color: #FFF;
    background-color:#30e3ca;
    padding: 11px 23px;
}
.latest{
    width:300px;
    float:left;
    overflow:hidden;
    text-align:center;
    margin-left:15px;
    width:240px;
    background-color:#233142;
    color:#FFF;
    padding-bottom:30px;
    margin-bottom:70px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    margin-top:30px;
}
.latest img{
    width:100%;
    height:185px
}
.latest h3,h2{
    padding:0;
    margin:0
}
.latest h3{
    margin:10px 0px;
    font-size:20px;
    color:#005542
}
.latest h2{
    font-size:20px;
    color:#FFF
}
.latest h2:last-of-type{
    margin-bottom:30px
}
.latest a{
    padding: 7px 28px;
    background-color:#ff5959;
    border-radius:8px;
    text-decoration:none;
    color:#FFF;
    font-weight:bold;
    font-size:16px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}






    
  
  